@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-clear);
}

:root {
  --clr-black: #010409;
  --clr-clear: #b7bdc8;

  /* BORDER */
  --border: 1px solid var(--clr-clear);
  --curved-edge: 6px;
  --full-circle: 50%;
  --pill-shape: 100vw;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--clr-black);
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-clear);
  border-radius: var(--pill-shape);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-black);
  color: var(--clr-clear);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.navigate-scroll {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  right: 20px;
  bottom: 35px;
  z-index: 2;
  transform: translateX(150%);
}

.navigate-scroll.scrolled {
  transform: translateX(0);
}

.navigate-scroll a {
  text-decoration: none;
  padding: 10px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: var(--clr-black);
  font-size: 1.5rem;
  border-radius: var(--full-circle);
  border: var(--border);
}

.wrapper {
  width: 100vw;
  max-width: 1240px;
  margin: 0 auto;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

.dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  border: var(--border);
  border-radius: var(--curved-edge);
  padding: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 20px;
}

#avatar {
  width: 200px;
  aspect-ratio: 1;
  border-radius: var(--full-circle);
  object-fit: cover;
  margin-bottom: 1rem;
  border: var(--border);
}

#username {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.githubBio {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.interactions {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  font-size: 1rem;
}

.interactions p {
  display: flex;
  font-size: 0.9rem;
  gap: 5px;
  color: var(--clr-clear);
}

.interactions p span {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--clr-black);
  position: relative;
  background-color: var(--clr-clear);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(2rem / 20);
}

.right {
  width: 70%;
  height: 450px;
  padding: 20px;
  padding-right: 10px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--border);
  border-radius: var(--curved-edge);
}

.right .heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: var(--border);
}

.right .heading span {
  color: var(--clr-clear);
  font-size: 1rem;
  font-weight: 300;
}

#reposContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 1rem;
}

.repo {
  width: 100%;
  max-width: 300px;
  color: var(--clr-clear);
  gap: 10px;
  border: var(--border);
  border-radius: var(--curved-edge);
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
}

.repo div {
  width: 100%;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.repo div .link {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
}
.repo div p {
  width: 100%;
  text-align: center;
}

.repo div p,
.repo div .link {
  color: inherit;
}

.repo:hover {
  background-color: var(--clr-clear);
  color: var(--clr-black);
}

.repo.selected {
  background-color: var(--clr-clear);
  color: var(--clr-black);
  border-color: green;
  border-width: 3px;
}

.repo:hover .link {
  text-decoration: underline;
}



/* TEMPLATE */
.templates-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  border: var(--border);
  border-radius: var(--curved-edge);
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.templates-container h2 {
  text-align: center;
  position: absolute;
  top: 35px;
  padding-inline: 10px;
  background-color: var(--clr-black);
}

.templates-container > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: var(--border);
  padding-top: 30px;
  margin-top: 30px;
}

.template {
  width: 50%;
  cursor: pointer;
  text-align: center;
  border: 2px solid transparent;
  padding: 30px;
  transition: border-color 0.3s ease;
}

.template img {
  width: 100%;
  height: auto;
}

.template > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.template p {
  font-size: 1.2rem;
  font-weight: 500;
}

.template.selected {
  border-color: #007bff; /* Highlight selected template */
}

.template:hover {
  border-color: #ccc;
}


@media (width < 1029px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right .heading {
    font-size: 1.2rem;
  }
  .right .heading span {
    font-size: 0.8rem;
  }
  .repo {
    max-width: 100%;
  }
  .repo div .link {
    font-size: 1rem;
  }
}

@media (width < 780px) {
  .navigate-scroll {
    display: flex;
    transition: 0.3s;
  }

  .dashboard {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    height: 100%;
  }
  .right .heading {
    font-size: 1.2rem;
    position: sticky;
    top: -10px;
    background-color: var(--clr-black);
  }
  .right .heading span {
    font-size: 0.8rem;
  }
  .repo {
    max-width: 100%;
  }
  .repo:hover {
    background-color: var(--clr-black);
    color: var(--clr-clear);
  }

  .repo.selected {
    border: var(--border);
    background-color: var(--clr-clear);
    color: var(--clr-black);
  }
  .repo div .link {
    font-size: 1rem;
  }

  .template {
    width: 100%;
  }
}
